.quote {
  font-size: 0.75rem;
  color: rgba(34, 36, 44, 0.6);
}
.quoteDark {
  color: rgba(236, 237, 238, 0.6);
}

.text {
  color: rgba(34, 36, 44, 0.6);
}

.textDark {
  color: rgba(236, 237, 238, 0.6);
}
