@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: url("/backgrounds/top-gradient-dark.svg") center top no-repeat,
    url("/backgrounds/bottom-gradient-dark.svg") center bottom no-repeat,
    url("/backgrounds/dark.svg") repeat;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 0.8rem;
}
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigator-title {
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: rgba(114, 120, 136, 0.6);
}
