@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: url("/backgrounds/top-gradient-dark.svg") center top no-repeat,
    url("/backgrounds/bottom-gradient-dark.svg") center bottom no-repeat,
    url("/backgrounds/light.svg") repeat;
  color: #22242c;

  --text-secondary-1: rgba(34, 36, 44, 0.6);
  --text-secondary-2: rgba(114, 120, 136, 0.6);
  --bg-gradient: linear-gradient(
    90deg,
    rgba(255, 233, 244, 0.3) 0%,
    rgba(234, 243, 255, 0.5) 100%
  );
  --bg-navbar: rgba(255, 255, 255, 0.2);
}

html.dark > body {
  background: url("/backgrounds/top-gradient-dark.svg") center top no-repeat,
    url("/backgrounds/bottom-gradient-dark.svg") center bottom no-repeat,
    url("/backgrounds/dark.svg") repeat;
  color: #fff;

  --text-secondary-1: rgba(236, 237, 238, 0.6);
  --text-secondary-2: rgba(114, 120, 136, 0.6);
  --bg-gradient: linear-gradient(
    90deg,
    rgba(30, 28, 50, 0.5) 0%,
    rgba(43, 22, 29, 0.55) 100%
  );
  --bg-navbar: rgba(28, 22, 47, 0.2);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 0.8rem;
}
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigator-title {
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--text-secondary-2);
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
}

.page-title-about {
  background: linear-gradient(73.19deg, #dc79ff 0%, #256bfa 95.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.page-title-work {
  background: linear-gradient(
    270deg,
    #fa6e6e 0%,
    #a3387e 48.88%,
    #224d88 97.75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.page-title-story {
  background: linear-gradient(90deg, #8d2de3 0%, #ff2497 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.page-title-stack {
  background: linear-gradient(
    90.42deg,
    #4ab1f1 0.58%,
    #566cec 37.22%,
    #d749af 73.87%,
    #ff7c51 112.26%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.page-title-timeline {
  background: linear-gradient(
    90deg,
    #dc36fa 0%,
    #a167ef 25%,
    #609fe4 50%,
    #3abfde 75%,
    #04d18e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.page-title-bookshelf {
  background: linear-gradient(
    258.32deg,
    #fbfbfd 0%,
    #e795b7 32.71%,
    #935893 65.43%,
    #224d88 98.14%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.page-subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}
.gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 6;
}
.gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 6;
}
.gallery__item--7 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 10;
}
.gallery__item--8 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}
.gallery__item--9 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 10;
}

.stack-icons {
  font-size: 2.5rem;
}
