.nav {
  background: var(--bg-navbar);
  backdrop-filter: blur(12px);
  border-radius: 12px;
}

ul.navbar {
  a {
    font-size: medium;
  }

  .active {
    a {
      background: linear-gradient(
        90deg,
        #f06844 0%,
        #ee4c54 25%,
        #d45e95 50%,
        #9c6ca6 75%,
        #6583c1 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-weight: 700;
    }
  }
}
