.container {
  border-radius: 18px;
  &:hover {
    background: var(--bg-gradient);
  }
  cursor: pointer;
}

.title {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.75rem;
}

.description {
  font-size: 0.8rem;
  color: var(--text-secondary-1);
}
