.title {
  font-weight: 700;
  font-size: 1rem;
}

.description {
  font-size: 0.8rem;
  color: rgba(34, 36, 44, 0.6);
}

.descriptionDark {
  color: rgba(236, 237, 238, 0.6);
}

.date {
  font-size: 0.75rem;
  color: rgba(114, 120, 136, 0.6);
}
